<ion-view view-title="A propos">

    <ion-content>
        <a ui-sref="home">Liens test</a>
        <h1>A propos de moi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis
            cupiditate dignissimos dolores facilis hic ipsam iste iusto, nam non nostrum
            nulla, praesentium quia quibusdam soluta vel veniam voluptas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis
            cupiditate dignissimos dolores facilis hic ipsam iste iusto, nam non nostrum
            nulla, praesentium quia quibusdam soluta vel veniam voluptas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis
            cupiditate dignissimos dolores facilis hic ipsam iste iusto, nam non nostrum
            nulla, praesentium quia quibusdam soluta vel veniam voluptas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis
            cupiditate dignissimos dolores facilis hic ipsam iste iusto, nam non nostrum
            nulla, praesentium quia quibusdam soluta vel veniam voluptas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis
            cupiditate dignissimos dolores facilis hic ipsam iste iusto, nam non nostrum
            nulla, praesentium quia quibusdam soluta vel veniam voluptas.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet blanditiis
            cupiditate dignissimos dolores facilis hic ipsam iste iusto, nam non nostrum
            nulla, praesentium quia quibusdam soluta vel veniam voluptas.
        </p>

    </ion-content>
</ion-view>